{% extends 'index.html' %}
{% block lists %}


<form action="" method="post">

    {% csrf_token %}
    <header>
        <nav>
            <ul>
                {% if prof != 0%}
                    <li><a href="{% url 'logout' %}">Logout</a></li>        
                {% else %}
                    <li><a href="{% url 'list_Professors' %}">Go Back</a></li>
                {% endif %}   
            </ul>
        </nav>
    </header>

    <br>
    {% for subject in data %}
        <div class="list_box">
           <div class="list_box_1">
               <ul>
                   <li><p><strong>Name</strong>: {{subject.name}} <strong>|</strong> </p></li>
                   <li><p><strong>Code</strong>: {{subject.code}} <strong>|</strong> </p></li>
                   <li><p><strong>Ects</strong>: {{subject.ects}}</p></li>
                   <!-- <li><p><strong>Professor</strong>: {{subject.professor_id}}</p></li>  -->
                   <!-- umjesto imena profesora mozda stavit email ili cak prezime -->
               </ul>
           </div>
            


           <div class="list_box_2">
                {% if prof != 0%}
                <div class="more_buttons">
                    <a href="{% url 'subject_Students' id=subject.id prof_id=prof %}">Students</a>
                </div>
                {% else %}
                <div class="more_buttons">
                    <a href="{% url 'subject_Students' id=subject.id prof_id=0 %}">Students</a>
                </div>
                {% endif %}
           </div>
            
        </div>
    {% endfor %}
    
         

</form>





{% endblock %}